:root{
    --month: "12";
}
*{
    margin: 0;
    padding: 0;
}
.calendar{
    display: none;
    width: 400px;
    border: 1px solid black;
    border-radius: 4px;
    margin: auto;
    user-select: none;
}
.calendar-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    cursor: pointer;
}
.calendar-toolbar_prev,
.calendar-toolbar_next{
    padding: 10px;
    border: 1px solid #666;
    color: #666;
    border-radius: 6px;
}
.calendar-toolbar_prev:active,
.calendar-toolbar_next:active{
    border-color: #333;
    color: #333;
    font-weight: 500;
}
.calendar-toolbar_title{
    font-size: 20px;
    font-weight: 500;
}
.calendar-main{
    padding: 12px;
    position: relative;
}
.calendar-main::before{
    content: var(--month);
    font-size: 160px;
    display: inline-block;
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.calendar-main_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.calendar-main_body{
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
}
.calendar-date_base{
    width: 14.285%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
.calendar-date_current:hover{
    background-color: #333;
    color: white;
    border-radius: 3px;
}
.calendar-date_disable{
    cursor: not-allowed;
    color: #999;
}












